<h1> Let's do Battle </h1>
<h2> Enter names of players </h2>


<form action='/names' method='post'>
  <label for="player_one">
    Player One Name
    <input type="text" name="player_one">
  </label>
  <label for="player_two">
    Player Two Name
    <input type="text" name="player_two">
  </label>
  <input type="submit" value="Submit">
</form>
