<html>
  <div>
    <%= @player_one %> Vs <%= @player_two %>
  </div>
    <%= @player_two %>: 60HP
  <div>
    <form action='/start' method='get'>
      <button type="submit">Attack</button>
    </form>
  </div>
</html>
